body, html {
	padding: 0;
	margin: 0;
	height: 100%;
	background: #000;
	font-size: 12px;
	font-family: Calibri, sans-serif;
}

.page {
	padding: 12px;
	background: #FFF;
	background: #FFF;
}

.page h1:first-child {
	margin-top: 0;
}

img {
	max-width: 100%;
}
iframe {
	border: 0;
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4 {
}

h1 {
}

h2 {
}

.wrapper {
	border: 6px ridge;
	width: 700px;
	margin: auto;
	margin-top: 20px;
	box-sizing: border-box;
}

.header {
	border-bottom: 6px ridge;
	height: 160px;
	box-sizing: border-box;
	background-image: url('bg.gif');
	position: relative;
}

.main {
	display: flex;
}

.side {
  border-right: 6px ridge;
  width: 200px;
  padding: 12px;
  box-sizing: border-box;
  background: #172872;
  color: white;
  min-height: 760px;
}

.content {
	flex-grow: 1;
}

.button {
	display: block;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 12px;
	font-size: 17px;
	background-image: url('buttonbg.gif');
	border-radius: 5px;
	color: #000;
	text-decoration: none;
	text-shadow: 0 0 3px #FFF;
	letter-spacing: 1px;
	border: 1px solid #FF8301;
}

.button:hover {
	text-decoration: underline;
}

.wrapper-body {
	background-image: url('wrap.jpg');
	background-repeat: repeat-x;
	background-position: bottom; 
}

.cat {
  position: absolute;
  top: 0;
  right: 40px;
  height: 140px;
}

.title {
  padding-top: 20px;
  padding-left: 20px;
}

h1 {
	color: #f2007d;
	border-bottom: 1px dashed;
}

h2 {
	color: #f2007d;
}

a {
	color: blue;
}